/* total width */
.xterm .xterm-viewport::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
.xterm .xterm-viewport::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
.xterm .xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.xterm .xterm-viewport::-webkit-scrollbar-button {
    display:none;
}